Repository Cezerin2/Server, changes with the labels that .github/labeler.yml gives for each.
All labels: Editing Docs, Source Code Edit

.github/labeler.yml:

# Add 'Editing Docs' to any changes within 'docs' folder or any subfolders
Editing Docs:
  - docs/**/*

# Add 'Source Code Edit' to any file changes within 'src' folder
Source Code Edit: src/*

Update
  src/ajaxRouter.ts
  src/apiRouter.ts
  src/deps.ts
  src/index.ts
Labels: Source Code Edit

Update setup.ts
  src/setup.ts
Labels: Source Code Edit

Update
  TODO
  src/deps.ts
  src/paymentGateways/LiqPay.ts
  src/services/assets/local.ts
  src/services/assets/minio.ts
  src/services/assets/s3.ts
  src/services/redirects.ts
  src/services/settings/settings.ts
  src/services/theme/settings.ts
  src/services/theme/theme.ts
  src/services/webhooks.ts
  src/setup.ts
Labels: Source Code Edit

Remove docs
  .gitignore
  docs/README.md
  docs/api/README.md
  docs/api/apps.md
  docs/api/product-categories.md
  docs/api/product-import.md
  docs/api/products.md
  docs/api/redirects.md
  docs/api/webhooks.md
  docs/deploy-on-web-cezerin-configs.md
  docs/deploy-on-web-cezerin.md
  docs/deploy-on-web-cloudflare.md
  docs/deploy-on-web-droplet.md
  docs/deploy-on-web-final-checks.md
  docs/deploy-on-web-hosting.md
  docs/deploy-on-web-mern.md
  docs/deploy-on-web-mongodb.md
  docs/deploy-on-web-nginx.md
  docs/deploy-on-web-production-mode.md
  docs/deploy-on-web-start.md
  docs/faq.md
  docs/help-and-support.md
  docs/howtos.md
  docs/images/cf-alway-https.png
  docs/images/cf-dns.png
  docs/images/cf-ssl.png
  docs/images/do-ip.png
  docs/images/product-import-spreadsheet.png
  docs/nginx.md
  docs/overview.md
  docs/prerequisites.md
  docs/setup-database.md
  docs/single-instance/cezerin2-docker-compse.md
  docs/single-instance/cezerin2-proxy-dockerfile.md
  docs/single-instance/cezerin2-proxy-nginx.md
  docs/single-instance/getting-started.md
  docs/using-docker.md
  docs/using-source-code.md
  tsconfig.json
Labels: Editing Docs

Update package.json
  package.json
Labels: none

Delete TODO
  TODO
Labels: none

Fix
  package.json
  src/lib/dashboardWebSocket.ts
  src/lib/mongo.ts
  src/paymentGateways/PayPalCheckout.ts
  src/routes/notifications.ts
  src/routes/orders.ts
  src/services/orders/orders.ts
Labels: none

Removing linters
  .eslintrc
  .gitignore
  .npmignore
  .prettierrc
  package.json
Labels: none

Adding std
  .prettierrc
  src/deps.ts
Labels: Source Code Edit

Minio buckets auto add
  src/services/assets/minio.ts
Labels: none

Fix Improper Access Control
  src/services/orders/orders.ts
Labels: none

Package Updates
  package.json
  yarn.lock
Labels: none

Fix save logo
  src/services/settings/settings.ts
Labels: none
